.margem-nome {
  margin-top: 15px;
}

.margem-nome1 {
  margin-top: 15px;
}

.aribaa {
  margin-top: -80px;
}

.aribaaa {
  margin-top: -55px;
}

.bolinha {
  text-align: left;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: aqua;
  margin-top: 26px;
  margin-left: 25px;
}

.pouquinho {
  margin-top: -5px;
}

.Ativo {
  background-color: rgb(50, 202, 88) !important;
}

.Inativo {
  background-color: red !important;
}

.Pendente {
  background-color: yellow !important;
}

.relativo {
  position: relative;
}
.dinheiro {
  margin-top: -80px;
}

.texto {
  margin-top: -10px;
}

.bordaa {
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.bordaa:hover {
  transition: 0.1s;
  border-color: #ff00b4 !important;
  border-width: 2px !important;
  padding: 400px !important;

  -moz-transform: scale(9.1) !important;
  -webkit-transform: scale(9.1) !important;
  transform: scale(9.1) !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ff00b4;
}

::selection {
  color: white;
  background: #ff00b4;
}
