.branco {
	color: white;
}

.martinho {
	padding-left: 140px;
}

.pra {
	padding: 0px !important;
}

.rodafundo {
	color: #ff00b4;
}

.rodafundo2 {
	background-color: rgb(32, 32, 32);
	color: #ff00b4;
}
