.redondo {
	border-radius: 150px;
	margin-top: 150px;
	margin-left: 35px;
	z-index: 3;
}
.baixo {
	z-index: 2;
	position: relative;
}

a {
	text-decoration: none;
	color: black;
	padding-top: 6px;
	padding-left: 12px;
	padding-right: 12px;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #ff00b4;
}

a:active {
	text-decoration: none;
}

.baixo2 {
	z-index: -10;
	position: relative;
}

.butaos {
	position: absolute;
	right: 10px;
	z-index: 100;
}

.butaos1 {
	position: absolute;
	right: 110px;
}

.butaos2 {
	position: absolute;
	right: 190px;
}

.Icone {
	margin-left: 800px;
	margin-top: 85px;
}

.Icone2 {
	margin-left: 10px;
	margin-top: 85px;
}

.cliente {
	margin-top: 25px;
	border-radius: 50px;
}

.titulo {
	margin-left: 20px;
	color: white;
}

.borda {
	border: 2px solid;
	border-color: white;

	padding-top: 5px;
	padding-bottom: 20px;
}

.texto {
	color: white;
	margin-left: 20px;
	margin-top: -65px;
}
