.form-back {
  background-color: rgba(49, 49, 49, 0.171);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 8px 10px 0 rgba(46, 46, 46, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.inputBox {
  position: relative;
}

.inputBox input {
  padding: 10px;
  border: 1px solid #ff00b4;
  background: rgb(35, 35, 35);
  border-radius: 5px;
  outline: none;
  color: #fff;
  transition: 0.5s;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
  margin-left: 10px;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label {
  color: #ff00b4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background: rgb(35, 35, 35);

  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #ff00b4;
}

.inputBorder {
  padding: 10px;
  border: 1px solid #ff00b4;
  background: rgb(35, 35, 35);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

label {
  color: #fff;
}

.cor {
  background-color: rgb(71, 71, 71);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
}

body {
  background-color: rgb(35, 35, 35);
}

.btn {
  border-color: #ff00b4;

  background-color: #ff00b4;

  color: #fff;
}

body .btn-roxo:hover,
body .btn-roxo:focus {
  border-color: #ff00b4;
  background-color: rgb(35, 35, 35);

  color: #fff;
}

body .btn-roxo:active,
body .btn-roxo:visited,
body .btn-roxo:active:focus,
body .btn-roxo:active:hover {
  border-color: #ff00b4;

  background-color: rgb(35, 35, 35);

  color: #fff;
}
