/* CSS Document */

input.form-control { width: 500px!important; } 


*{
	padding: 0px;
	margin: 0px;
}

.area{
	height: 100%;
	width: 100%;
	
	max-height: 220px;
	max-width: 500px;
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

::-webkit-scrollbar 
{
  width: 10px;
}

::-webkit-scrollbar-thumb 
{
  background: linear-gradient(transparent, purple);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover 
{
  background: linear-gradient(transparent, yellow);
  border-radius: 10px;
}

.borda{

	margin: auto;
	display: block;
	border-radius: 20px;
	
}

.roxo{
	color: #69179e;

}

.centro2{

   vertical-align: middle;
   font-size: 30px;
   font-weight: bold;
  
}

.banner{
	background-image: url("img/Banner.png");
	background-repeat: no-repeat;
	height: 200px;
	width: 1280px;

	
}

.redondo{
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;
	
	height: 100%;
	width: 100%;
}


.mt-6{
	margin-top: 60px;
}

.mt-6-5{
	margin-top: 65px;
}
.ml-6{
	margin-left: 210px;
}

.ml-6-5{
	margin-left: 30px;
}

.lalal{
	position: relative;
	float: inherit;
	margin-bottom: 40px;
}

.Vermelho{
	background: red;
	height: 50px;
	margin-top: 0px;
}

body .btn-roxo {
    border-color: #69179e;
    color: #69179e; }
    body .btn-roxo:hover, body .btn-roxo:focus {
      border-color: #69179e;
      background-color: #69179e;
      color: #FFF; }
    body .btn-roxo:active, body .btn-roxo:visited, body .btn-roxo:active:focus, body .btn-roxo:active:hover {
      border-color: #69179e;
      background-color: #69179e;
      color: #FFF; }

