input.form-control {
	width: 500px !important;
}

* {
	padding: 0px;
	margin: 0px;
}

.tela {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 60px;
	margin-left: 500px;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 20px;
	font-size: 17px;
}

.roxotop {
	position: fixed;
	width: 100%;
	z-index: 50;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	box-shadow: 0px 10px 40px rgba(105, 105, 105, 0.331);
	border: none;
}
.espacameto {
	padding: 30px;
	margin: 20px;
	background-color: aquamarine;
	height: 50px;
	width: 1360px;
}

.backInicio {
	background-image: url(img/b11.png);
}

.filtroMap {
	filter: saturate(0%);
}

.black {
	color: white;
	font-family: Arial;
	margin: 0px 10px 0px 10px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.black:hover {
	color: #ff00b4;
	background-color: #3030304c;
}

.area {
	height: 100%;
	width: 100%;

	max-height: 220px;
	max-width: 500px;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, rgb(72, 72, 72));
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, rgb(80, 80, 80));
	border-radius: 10px;
}
.wht {
	background-color: white;
}
.amarelo {
	background-color: #ffffff;
}
.amarelo1 {
	background-color: yellow;
}
.borda {
	margin: auto;
	display: block;
	border-radius: 20px;
}

.roxo {
	color: #ff00b4;
	background-color: rgb(35, 35, 35);
	padding-top: 0px;
	padding-bottom: 10px;
}
.roxo1 {
	background-color: #69179e;
	width: auto;
	height: auto;
}
.centro {
	color: white;
	margin: auto;
}
.centro2 {
	vertical-align: middle;
	font-size: 30px;
	font-weight: bold;
}

.preto {
	background-color: #fff;
}
.Branco {
	background-color: aliceblue;
	height: 50px;
	margin-top: 0px;
}
.imj {
	margin: auto;
	max-width: 100%;
	padding-right: 20%;
}
.banner {
	background-image: url("img/vcss.png");
	background-repeat: no-repeat;
	height: 500px;
	max-width: 100%;
	width: 1920px;
}

.divInicio > .container {
	width: auto;
	background-color: #04aa6d;
}

.imgTeste {
	text-align: center;
	padding: 50% 0px 0% 60px;
}

.teste {
	color: #ff00b4;
	text-shadow: #ff00b353 0.1em 0.1em 0.1em;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	padding-top: 100px;
	text-transform: uppercase;
	text-align: left;
}

.titFunda {
	color: #ff00b4;
	text-shadow: #ff00b353 0.1em 0.1em 0.1em;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: left;
}

.titFunda2 {
	color: #ff00b4;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}

.teste1 {
	color: #ff00b4;
	text-shadow: #ff00b353 0.1em 0.1em 0.1em;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	padding-top: 50px;
	text-transform: uppercase;
	text-align: left;
}

.teste2 {
	color: rgb(230, 230, 230);
}

.teste > p {
	padding-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
}

.container5 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.card5 {
	height: 379px;
	width: 300px;
	background: grey;
	border-radius: 10px;
	transition: background 0.8s;
	overflow: hidden;
	background: black;
	box-shadow: 0 70px 63px -60px #000000;
}

.card1 {
	background: url(img/victor1.png) center center no-repeat;
	background-size: 400px;
}

.card1:hover {
	background: url(img/victor1.png) right center no-repeat;
	background-size: 600px;
}

.card2 {
	background: url(img/vinicius1.png) center center no-repeat;
	background-size: 400px;
}

.card2:hover {
	background: url(img/vinicius1.png) center center no-repeat;
	background-size: 600px;
}

.card3 {
	background: url(img/lucas1.png) center center no-repeat;
	background-size: 400px;
}

.card3:hover {
	background: url(img/lucas1.png) left center no-repeat;
	background-size: 600px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

.contentp {
	background-color: #303030;
	border-radius: 20px;
	color: white;
	text-align: center;
}

/* Center website */
.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: 50px;
	word-break: break-all;
}

.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
	padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
}

/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.botao-Nav {
	--green: #ff00b4;
	font-size: 15px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 0.6em;
	text-transform: uppercase;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--green);
	background: linear-gradient(
		to right,
		#84005cd1 1%,
		transparent 40%,
		transparent 60%,
		#ff00b348 100%
	);
	color: white;
	box-shadow: inset 0 0 10px #84005cd1, 0 0 9px 3px #ff00b348;
}

.botao-Nav:hover {
	color: #ff00b4;
	box-shadow: inset 0 0 10px #84005cd1, 0 0 9px 3px #ff00b348;
}

.bg1 {
	background-color: rgb(13, 13, 13);
}

.bg2 {
	background-color: #111111;
	padding-top: 60px;
}

.bg3 {
	background-color: #111111;
	padding: 30px;
}

.fundou {
	background-color: #111111 !important;
}

.maxiunsd {
	width: 100%;
}

.botao-Nav:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform 0.4s ease-in-out;
	background: linear-gradient(
		to right,
		transparent 1%,
		#ff00b348 40%,
		#ff00b348 60%,
		transparent 100%
	);
}

.botao-Nav:hover:before {
	transform: translateX(15em);
}

.input-css {
	background-color: rgba(137, 137, 137, 0.442);
	border-radius: 10px;
	color: white;
	border: none;
}

.roxo2 {
	background-image: linear-gradient(#000000, #9900ff);
	color: #eaff00;
	border: solid 1px;
	border-radius: 0px 20px 0px 20px;
	box-shadow: 10px 10px 10px 5px rgba(138, 138, 138, 0.308);
}
.roxo3 {
	background-color: #69179e;
	border-radius: 20px 0px 20px 0px;
	box-shadow: 10px 10px 10px 5px rgba(138, 138, 138, 0.308);
}
.ima {
	padding-top: 150px;
	background-repeat: no-repeat;
	height: 700px;
	max-width: 100%;
	width: 500px;
	padding-left: 100px;
}
.sobre3 {
	color: #69179e;
	text-transform: uppercase;
	font-weight: 800;
	margin: auto;
	text-align: left;
	font-size: 40px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.alinhamento {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.card {
	width: 300px;
	height: 17rem;
	background-color: #212121;
	border-radius: 1rem;
	border: #212121 0.2rem solid;
	transition: all 0.4s ease-in;
	box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
}

.card:hover {
	transform: translateY(-1.5rem);
	border: #ff00b4 0.2em solid;
	border-radius: 2.5rem 1.5rem 2.5rem 1.5rem;
}
.card-title {
	text-align: center;
}

.image-card {
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}

.card > img {
	display: flex;
	justify-content: center;
}

.card > h3 {
	text-align: center;
	color: #ff00b4;
}

.card > p {
	text-align: center;
	color: rgb(212, 212, 212);
}

.card-text {
	color: red;
	display: flex;
	justify-content: center;
}

.card-body > p {
	text-align: center;
}

.espacoTitulo {
	margin-top: 125px;
}

.img-container {
	margin: auto;
}

.img-div {
	margin: auto;
	height: 700px;
	width: auto;
}

.so {
	color: rgb(0, 0, 0);
	margin: auto;
	text-align: justify;
}
.sobre {
	color: #69179e;
	font-size: 40px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: left;
	padding-top: 350px;
	margin-left: -125px;
}
.sobre1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	margin-left: -125px;
}
.color {
	background-color: #69179e;
	color: #fff;
}

.redondo {
	border-radius: 50%;
	max-height: 150px;
	max-width: 150px;

	height: 100%;
	width: 100%;
}
.nav-item {
	margin: 0;
}
.nave {
	margin: 0 350px;
	margin-right: auto;
}
.nave1 {
	margin: 100 100px;
}

.mt-6 {
	margin-top: 60px;
}

.mt-6-5 {
	margin-top: 65px;
}
.ml-6 {
	margin-left: 210px;
}

.ml-6-5 {
	margin-left: 30px;
}

.lalal {
	position: relative;
	float: inherit;
	margin-bottom: 40px;
}

.Vermelho {
	background: red;
	height: 50px;
	margin-top: 0px;
}

body .btn-roxo {
	border-color: #69179e;
	color: #69179e;
}
body .btn-roxo:hover,
body .btn-roxo:focus {
	border-color: #69179e;
	background-color: #69179e;
	color: #fff;
}
body .btn-roxo:active,
body .btn-roxo:visited,
body .btn-roxo:active:focus,
body .btn-roxo:active:hover {
	border-color: #69179e;
	background-color: #69179e;
	color: #fff;
}

.rodape1 {
	background-color: #303030;
}

.amarelinha {
	background-color: white;
	color: #69179e;
}

.cinza {
	background-color: rgb(35, 35, 35);
}
.s {
	background-color: #ffffff;
}
.text {
	margin-top: 300px;
}
.img1 {
	width: 500px;
}
.img1,
p {
	display: inline-block;
}
.containers {
	display: flex;
	align-items: center;
}
.s {
	align-items: center;
}
.v {
	max-width: 100%;
	max-height: 600px;
}

@media (max-width: 600px) {
	.titFunda {
		display: none;
	}
	.titFunda2 {
		text-align: center;
	}

	.card5 {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 20px 20px 20px;
		padding: 20px 20px 20px 20px;
	}

	.col-6 {
		width: 100%;
		margin-top: -100px;
	}

	.img-container {
		width: 100%;
	}

	.teste2 {
		padding-bottom: 50px;
	}

	.cartitu {
		font-size: 16px;
	}

	.carousel__container {
		display: none;
	}

	.coluna11 {
		display: none;
	}

	.spacoTitulo {
		margin-top: 0px;
	}
	.teste1 {
		padding-top: 0px;
	}
}

@media (min-width: 601px) {
	.coluna22 {
		display: none;
	}
}

.alert {
	padding: 20px;
	background-color: #f44336;
	color: rgb(0, 0, 0);
	opacity: 1;
	transition: opacity 0.6s;
	margin: 0px 0px 0px 0px;
}

.alert.success {
	background-color: #04aa6d;
}
.alert.info {
	background-color: #ff00b4;
}
.alert.warning {
	background-color: #ff9800;
}

.closebtn {
	margin-left: 15px;
	color: black;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

/* Callout box - fixed position at the bottom of the page */
.callout {
	position: fixed;
	bottom: 35px;
	right: 20px;
	margin-left: 20px;
	max-width: 300px;
}

/* Callout header */
.callout-header {
	padding: 25px 15px;
	background: rgba(0, 0, 0, 0.726);
	font-size: 30px;
	color: white;
}

/* Callout container/body */
.callout-container {
	padding: 15px;
	background-color: #eeff00;
	color: black;
}

/* Close button */
.closebtn {
	position: absolute;
	top: 5px;
	right: 15px;
	color: white;
	font-size: 30px;
	cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
	color: lightgrey;
}

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
	background-image: linear-gradient(#69179e, rgb(63, 0, 105));
	color: white;
	font-family: inherit;
	padding: 0.35em;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #69179e;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #69179e;
	right: 0.3em;
	transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
	width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
	width: 1.1em;
	transition: transform 0.3s;
	color: #69179e;
}

.cssbuttons-io-button:hover .icon svg {
	transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
	transform: scale(0.95);
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

h1 {
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	font-weight: normal;
}

@keyframes carouselAnim {
	0% {
		transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
		transform-origin: center center;
		z-index: 10;
	}
	27% {
		transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
		transform-origin: center center;
		z-index: 10;
	}
	33.33333% {
		transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
		transform-origin: left center;
		z-index: 5;
	}
	60% {
		transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
		transform-origin: left center;
		z-index: 5;
	}
	66.666666% {
		transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
		transform-origin: right center;
		z-index: 5;
	}
	93% {
		transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
		transform-origin: right center;
		z-index: 5;
	}
	100% {
		transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
		transform-origin: center center;
		z-index: 10;
	}
}

.cartitu {
	text-align: center;
	color: #ff00b4;
	text-transform: uppercase;
	font-weight: 800;
}

.carousel__container {
	width: 100%;
	max-width: 960px;
	perspective: 300px;
	perspective-origin: 50% 60%;
	min-height: 14em;
	margin: 3em auto;
}

.carousel__item {
	position: absolute;
	width: 33%;
	padding-bottom: 19%;
	animation-name: carouselAnim;
	transform-origin: left center;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.carousel__item:first-child {
	animation-delay: -4s;
}
.carousel__item:last-child {
	animation-delay: -8s;
}

.carousel__image {
	position: absolute;
	width: 100%;
	border-radius: 2px;
}

.cart {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 40px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

.rodape {
	background-color: white;
}

.dark-mode {
	background-color: #69179e;
}

.switch {
	--button-width: 3.5em;
	--button-height: 2em;
	--toggle-diameter: 1.5em;
	--button-toggle-offset: calc(
		(var(--button-height) - var(--toggle-diameter)) / 2
	);
	--toggle-shadow-offset: 10px;
	--toggle-wider: 3em;
	--color-grey: #ffffff;
	--color-green: #ffee00;
}

.slider {
	display: inline-block;
	width: var(--button-width);
	height: var(--button-height);
	background-color: var(--color-grey);
	border-radius: calc(var(--button-height) / 2);
	position: relative;
	transition: 0.3s all ease-in-out;
}

.slider::after {
	content: "";
	display: inline-block;
	width: var(--toggle-diameter);
	height: var(--toggle-diameter);
	background-color: #69179e;
	border-radius: calc(var(--toggle-diameter) / 2);
	position: absolute;
	top: var(--button-toggle-offset);
	transform: translateX(var(--button-toggle-offset));
	box-shadow: var(--toggle-shadow-offset) 0
		calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
	transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
	background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
	transform: translateX(
		calc(
			var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
		)
	);
	box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
		calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
	display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
	width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
	transform: translateX(
		calc(
			var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
		)
	);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #373737;
	color: white;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active2,
.accordion:hover {
	background-color: #ff00b4;
	color: #000000;
	border-radius: 20px 0px 0px 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	display: flex;
	justify-items: center;
	align-items: center;
	margin-bottom: 5px;
	background-color: #303030;
	display: none;
	overflow: hidden;
}

.pss {
	color: #ff00b4;
	font-weight: 600;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.spa {
	padding: 2px;
}
